*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.card {
  width: 22%;
  background-color: grey;
  color: white;
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_php{

// @include stile_container;

  padding-left: 30px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(129,114,81);

  background: linear-gradient(45deg, rgba(129,114,81,1) 7%, rgba(9,15,17,1) 100%);
}


li {
  list-style-type: none;
}

.container_php_ajax{

// @include stile_container;
//
padding-left: 30px;
padding-right: 15px;
width: 100%;
margin: 0 auto;
display: flex;
justify-content: flex-start;
align-items: center;
flex-wrap: wrap;
background: rgb(129,114,81);

  background: linear-gradient(15deg, rgba(70,70,81,1) 7%, rgba(15,3,17,1) 100%);
}

.hidden{
  display: none;
}

h1{
  text-align: center;
  margin-left: 10px;
}
